version: '3.8'

services:
  # === 1. Node.js API ===
  opendb_all_modules_api:
    container_name: opendb_all_modules_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    env_file:
      - ./.env
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_started

  watchdog:
    build: .
    container_name: opendb_watchdog
    command: ["node", "src/schedule-entry.js"]
    restart: always
    env_file:
      - ./.env
    depends_on:
      - opendb_all_modules_api
      - postgres
      - redis

  # === 2. Redis ===
  redis:
    container_name: opendb_redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - opendb_redis_data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD}
    
    healthcheck:
      # [NEW] Thêm tham số -a ${REDIS_PASSWORD} để xác thực 
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} set health_check 'ok' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

    labels:
      autoheal: "true"

  # === 3. PostgreSQL ===
  postgres:
    container_name: opendb-postgres
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      # [NEW] Lấy giá trị từ file .env
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - opendb-data:/var/lib/postgresql/data

  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    restart: always
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  redis-insight:
      image: redis/redisinsight:latest
      container_name: opendb_redis_insight
      ports:
        - "5540:5540"
      depends_on:
        - redis
      volumes:
        - redis_insight_data:/data
        
  frontend:
      image: vietban2005/gas_to_host
      container_name: frontend
      ports:
        - "3000:3000"

volumes:
  opendb_redis_data:
  opendb-data:
  redis_insight_data: